@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@500&display=swap');
.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #224a0d;
  padding: 1em;
  min-height: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 1em;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}
h2,
p {
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.juice-card {
  flex: 1 1 21res;
  margin: 10px 20px;
  padding: 10px 20px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
.juice-card:hover {
  transform: scale(1.2);
}
img {
  max-width: 35vw;
  max-height: 30vh;
  align-items: center;
  border: 2px solid black;
  display: cover;
  width: 100%;
  border-radius: 0.3em;
}
.img-details {
  display: block;
  /* max-width: 35vw;
  max-height: 30vh; */
  align-items: center;
}
.juice-page {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: space-evenly;
}
.form-size {
  display: flex;
  justify-content: center;
}
/* .App-header {
  background-color: #123c91;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .item {
  border: 2px solid black;
  width: 60vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-self: center;
} */

.juice-grid {
  /* width: 300px; */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  gap: 4em;
  justify-content: center;
  margin: 50px 50px;
  text-align: center;
}
